<style>
  .breadcrumb__items {
    margin: 0;
    list-style: none;
}
  .breadcrumb__item {
    letter-spacing: .5px;
    text-transform: normal;
    font-weight: 400;
    font-style: normal;
    font-size: .75em;
    display: inline-block;
}
  .breadcrumb__link {
    opacity: 1;
    font-size: 12px;
    color: #2e384b;
}
  .breadcrumb__item:after {
    content: "/";
    font-size: 9px;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 1;
    top: -1px;
    height: 10px;
    display: inline-block;
    position: relative;
    opacity: .7;
}
  .breadcrumb__item:last-child::after{
    display:none;
  }
</style>
<nav class="breadcrumb breadcrumb--product-single u-text-center js-breadcrumb" role="navigation" aria-label="breadcrumbs">
                            <ul class="breadcrumb__items o-list-bare o-list-inline"> 
                                <li class="breadcrumb__item o-list-inline__item">
                                    <a href="{{ routes.root_url }}" title="Home" class="breadcrumb__link">Home</a>        
                                </li>
                                {% if collection.url %}
                                    <li class="breadcrumb__item o-list-inline__item">
                                        <a href="{{ collection.url }}" class="breadcrumb__link">{{ collection.title }}</a>
                                    </li>
                                {% endif %}
                                <li class="breadcrumb__item o-list-inline__item">
                                    <span href="{{ routes.root_url }}" class="breadcrumb__link breadcrumb__link--current">{{ product.title }}</span>
                                </li>
                            </ul>
                        </nav>