<style>
  .right_slide_coll{
    position: absolute;
    top: 40%;
  }
  .custom_collection_bs{
    position: relative;
  }
  @media screen and (max-width:767px){
    .right_collection_slide.collection_custom_slide h1 {
    display: none;
}
   .left_collection_slide.collection_custom_slide h1 {
    display: block !important;
    letter-spacing: 0.06rem;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    color: black;
    box-sizing: inherit;
    width: 10%;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 27px;
    line-height: 30px;
}
    .left_collection_slide.collection_custom_slide .collection_url_left {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
    .custom_collection_bs .collection_container {
    display: flex;
    flex-direction: column;
}
    .left_collection_slide.collection_custom_slide {
    width: 100% !important;
}
    .right_collection_slide.collection_custom_slide {
    width: 100% !important;
}
    .right_slide_coll {
    position: unset;
}
    .left_collection_slide.collection_custom_slide .collection_url_left div {
    width: 100% !important;
    margin: 0;
}
    .left_collection_slide.collection_custom_slide h1 {
    font-size: 27px;
    line-height: 30px;
    text-decoration: none !important;
    font-weight: 100;
}
    .custom_collection_bs {
    margin-bottom: 35px !important;
}
    .right_slide_coll {
    display: flex;
    align-items: center;
}
  }
</style>
<div class="custom_collection_bs">
  <div class="collection_container">
    <div class="left_collection_slide collection_custom_slide">
      <a class="collection_url_left" href="{{ section.settings.collection_url_left }}">
        <div>
          <img src="{{ section.settings.left_collection_image | img_url: 'master' }}">
        </div>
        <h1 style="display:none;">{{ section.settings.right_coll_name1 }}</h1>
      </a>
    </div>
    <div class="right_collection_slide collection_custom_slide">
      <div class="collection_url_left">
        <h1> <a href="{{ section.settings.collection_url_left }}">{{ section.settings.right_coll_name1 }}</a></h1>
        <a href="{{ section.settings.collection_url_right }}" class="right_slide_coll">
          <img src="{{ section.settings.right_collection_image | img_url: 'master' }}">
          <p>{{ section.settings.right_coll_name2 }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "image_banner_custom",
  "class": "custom_collection",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_collection_image",
      "label": "left_collection_image"
    },
        {
      "type": "image_picker",
      "id": "right_collection_image",
      "label": "right_collection_image"
    },
        {
      "type": "text",
      "id": "right_coll_name1",
      "label": "right_coll_name1"
    },
        {
      "type": "text",
      "id": "right_coll_name2",
      "label": "right_coll_name2"
    },
            {
      "type": "url",
      "id": "collection_url_left",
      "label": "collection_url_right"
    },
            {
      "type": "url",
      "id": "collection_url_right",
      "label": "collection_url_right"
    }
  ],

  "presets": [
    {
      "name": "custom_collection"
    }
  ]
}
{% endschema %}

<style>
                          .custom_collection_bs {
                            max-width: 90%;
                            margin: auto;
                        }
                          .custom_collection_bs .collection_container {
                            display: flex;
                            justify-content: space-between;
                        }

                          .left_collection_slide.collection_custom_slide {
                            width: 40%;
                        }
                          .right_collection_slide.collection_custom_slide {
                            width: 50%;
                        }

                          .custom_collection_bs .collection_container img {
                            max-width: 100%;
                            margin: auto;
                            height: auto;
                        }

                        .custom_collection_bs .collection_container img {
                          max-width: 100%;
                          margin: auto;
                          height: auto;
                          width: 100%;
                      }

                      .right_collection_slide.collection_custom_slide a {

                        color: black;
                        text-decoration: none;
                    }

                        .right_collection_slide.collection_custom_slide h1 {
                        font-size: 54px;
                        color: black;
                        text-decoration: none;
                    }

                    .right_slide_coll {
                      display: flex;
                      flex-direction: row-reverse;
                      font-size: 32px;
                  }

                  .right_slide_coll img {
                    width: 80% !important;
                }
                  .right_slide_coll {
                    display: flex;
                    flex-direction: row-reverse;
                    font-size: 32px;
                    justify-content: space-between;
                }

                  .right_slide_coll p {
                    width: 10%;
                }

                .right_slide_coll p {
                  writing-mode: vertical-rl;
                  transform: rotate(-180deg);
              }

              .right_collection_slide.collection_custom_slide h1 {
                font-size: 54px;
                color: black;
                text-decoration: none;
                margin-bottom: 3rem;
            }

            .custom_collection_bs .collection_container {
              display: flex;
              justify-content: space-between;
              padding: 2rem;
          }

          .left_collection_slide.collection_custom_slide {
            width: 45%;
        }
      .left_collection_slide.collection_custom_slide  a.collection_url_left div {
        max-width: 100%;
        width: 70%;
        display: block !important;
        margin: auto;
    }

    .left_collection_slide.collection_custom_slide {
      width: 50%;
  }
</style>
